@import "./main.scss";

//VARIABLES
$MAUVE: #9356dc;
$ROSE: #ff79da;
$TURQUOISE: #99e2d0;
$WHITE: #fff;
$BLACK: #000;
$GRAY: #999;
$DARKGREY: #7c7b7b;
$FONDGREY: #f6f6f6;
$QUERY_MOBILE_MAX: 500px;
$QUERY_TAB_MIN: 501px;
$QUERY_TAB_MAX: 999px;
$QUERY_DESKTOP_MIN: 1000px;
$QUERY_DESKTOP_MAX: 1499px;
/***********************************/

//TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  font-family: Roboto;
}

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

/***********************************/

/************POUR mobile****************/

//HEADER

.headerbarre {
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 10px 1px $GRAY;
  cursor: pointer;
  position: relative;

  &__img {
    width: 50%;
  }

  &__btnRetour {
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;
  }
}

//NAV

@mixin jumbotron($color) {
  display: flex;
  flex-flow: row wrap;
  background-color: $color;

  &__map {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12px 0;

    > i {
      padding: 0 6px 0 0;
      cursor: pointer;
    }

    > input {
      background-color: #dad8d8;
      border: none;
      text-align: center;
      width: 27%;
      font-weight: bold;
    }
  }

  &__cta {
    width: 100%;
    padding-bottom: 47px;
    background-color: $FONDGREY;

    > h1 {
      padding: 0 101px;
      text-align: center;
      font-size: 30px;
    }

    > p {
      padding: 0px 105px;
      text-align: center;
      color: darkgray;
    }

    > div {
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 8px 0 0 0;
    }

    > div > button {
      width: 213px;
      height: 43px;
      border-radius: 25px 25px 25px 25px;
      border: none;
      background: linear-gradient(-6deg, #9356dc, #ff79da);
      border-color: #f7f7f7;
      cursor: pointer;
      box-shadow: 0px 1px 3px 0px grey;
    }

    > div > button > a > span {
      color: white;
      font-weight: bold;
    }

    > div > button:hover {
      background: linear-gradient(-309deg, #b883c5, #f08fe0);
      border-color: #f7f7f7;
      box-shadow: 0px 3px 6px 0px #4a4848;
    }
  }
}

@mixin jumbotron__map {
}

@mixin jumbotron__cta {
}

.jumbotron {
  @include jumbotron(#dad8d8);
}

.jumbotron__map {
  @include jumbotron__map;
}

.jumbotron__cta {
  @include jumbotron__cta;
}

@media only screen and (max-width: 600px) {
  body {
    > nav.jumbotron {
    }
  }
}

//MAIN

@mixin fonctionnement__titre {
  padding-left: 20px;
}

@mixin fonctionnement__list {
  .fa-mobile-alt {
    padding-left: 15px;
    padding-right: 15px;
    color: $DARKGREY;
  }

  .fa-list {
    padding-left: 15px;
    padding-right: 15px;
    color: $DARKGREY;
  }

  .fa-store {
    padding-left: 15px;
    padding-right: 15px;
    color: $MAUVE;
  }

  .titrenav {
    font-weight: bold;
  }
}

@mixin fonctionnement {
  &__titre {
    @include fonctionnement__titre;
  }

  &__list {
    @include fonctionnement__list;
  }
}

.fonctionnement {
  @include fonctionnement();
  > ul > li {
    position: relative;
    background: $FONDGREY;
    list-style: none;
    padding: 25px;
    margin: 30px;
    border-radius: 25px;
    box-shadow: 0 0 6px 0px #f6f6f6;
  }
  > ul {
    &.--menupage > li {
      background-color: white;
      overflow: hidden;
    }
    &.--counter {
      > li {
        &::before {
          content: "1";
          background-color: $MAUVE;
          width: 20px;
          height: 20px;
          padding: 5px;
          border-radius: 1em;
          position: absolute;
          margin: -10px 0px 0px -35px;
          text-align: center;
          color: white;
          font-weight: bold;
        }

        @for $i from 1 through 3 {
          &:nth-child(#{$i}):before {
            content: "#{$i}";
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    > main.fonctionnement {
    }
  }
}

//ARTICLE

@mixin restaurant__card {
  position: relative;
  background-color: white;
  border-radius: 10% 10% 0 0;
}

@mixin restaurant {
  background-color: $FONDGREY;
  padding-bottom: 30px;

  &__card {
    @include restaurant__card;
  }
}
.restaurant {
  @include restaurant();
  > h3 {
    padding-left: 25px;
    padding-top: 20px;
    font-size: x-large;
  }

  &__card > figcaption {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
  }

  &__card > figcaption > p {
    font-size: smaller;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  &__card::before {
    content: "Nouveau";
    text-decoration: none;
    background-color: $TURQUOISE;
    padding: 5px;
    position: absolute;
    top: 5%;
    right: 10%;
    color: #4b9e8f;
    font-weight: bold;
  }

  &__card > figcaption > i {
    position: absolute;
    top: 0%;
    right: 5%;
    cursor: pointer;
  }

  &__card > figcaption > i:before {
    content: "🤍";
  }

  &__card > figcaption > i:hover:before {
    content: "💜";
  }

  &__img {
    width: 100%;
    height: 300px;
    border-radius: 10% 10% 0 0;
    object-fit: cover;
  }
}

//FOOTER

@mixin PDP__omf {
  margin-top: 0;

  .ST {
    padding-top: 10px;
    padding-left: 70px;
    color: $WHITE;
    cursor: pointer;
  }

  .ST1 {
    color: $WHITE;
    padding-top: 10px;
    padding-left: 40px;
    cursor: pointer;
  }

  .fa-utensils {
    position: absolute;
    left: 40px;
    color: $WHITE;
  }

  .fa-hands-helping {
    position: absolute;
    left: 40px;
    color: $WHITE;
  }

  > a {
    text-decoration: none;
  }
}

@mixin PDP {
  &__omf {
    @include PDP__omf;
  }
}

.PDP {
  @include PDP();
  background-color: #3c3c3c;
  padding-bottom: 10px;
  padding-top: 10px;

  .titre {
    padding: 20px 0px 0 35px;
    margin-bottom: 15px;
    font-family: "Shrikhand";
    color: white;
    font-size: x-large;
    font-weight: 100;
  }
}

/************pages******************/

//MENU-1

.bg {
  margin: 0;
  > img {
    margin: 0;
    object-fit: cover;
  }
}

@mixin laCarte__titre {
  font-family: "shrikhand";
  font-size: 35px;
  padding-left: 15px;
  .fa-heart {
    padding-left: 35px;
  }

  > i::before {
    content: "🤍";
  }

  > i:hover::before {
    content: "💜";
  }
}

@mixin laCarte__plats {
  font-family: "roboto";
  padding-left: 1em;

  > h2.underline {
    position: relative;
  }

  > h2.underline::after {
    background-color: #99e2d0;
    content: "";
    height: 5px;
    width: 2.5em;
    left: 0px;
    bottom: -5px;
    position: absolute;
  }

  > li {
    overflow: hidden;
  }
}

@mixin laCarte {
  &__titre {
    @include laCarte__titre;
  }
  &__plats {
    @include laCarte__plats;
  }
}

.laCarte {
  @include laCarte;
  background-color: whitesmoke;
  border-radius: 3em 3em 0 0;
  padding: 1em;
  margin-top: -3em;
  position: relative;

  &__plats {
    @extend .fonctionnement;
    > ul {
      animation: animationMenu 2s ease-in 1;
      overflow: hidden;

      > li {
        list-style: none;
        margin: 20px 0;
        position: relative;
        padding: 2em;
        border-radius: 30px;
        box-shadow: 1px 2px 5px lightgrey;
        background-color: $WHITE;
        overflow: hidden;

        > h3 {
          position: relative;
          bottom: 1em;
          margin-bottom: 0;
          margin-top: 0;
        }

        > div:first-child {
          display: flex;
          position: absolute;
          align-items: flex-end;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 30px;

          &::before {
            content: "\2713";
            position: absolute;
            right: -2em;
            top: 30%;
            width: 30px;
            height: 30px;
            text-align: center;
            font-size: 2em;
            color: $TURQUOISE;
            transition: right 0.4s ease 0s;
            border: solid $WHITE;
            background-color: $WHITE;
            border-radius: 2em;
            border-width: initial;
            border-image: initial;
            cursor: pointer;
          }

          &::after {
            content: "";
            width: 0px;
            height: 100%;
            right: 0;
            transition: width 0.4s;
            background: $TURQUOISE;
            border-radius: 0 30px 30px 0;
            position: relative;
            cursor: pointer;
          }

          > p {
            margin: 21px 20px;
            font-weight: bold;
            font-size: medium;
            right: 20px;
            bottom: 0px;
            display: inline-block;
            height: 7px;
            transition: 400ms;
            padding-right: 1rem;
          }

          > h4 {
            padding-left: 2em;
            font-weight: 300;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 0.5em;
            overflow: hidden;
          }
        }
      }
    }
  }
  &__commander {
    display: block;
    width: 213px;
    height: 43px;
    border-radius: 25px 25px 25px 25px;
    border: none;
    background: linear-gradient(-6deg, #9356dc, #ff79da);
    border-color: #f7f7f7;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px grey;
    color: white;
    font-weight: bold;
    margin: auto;
    margin-bottom: 3em;
  }

  &__commander:hover {
    background: linear-gradient(-309deg, #b883c5, #f08fe0);
    border-color: #f7f7f7;
    box-shadow: 0px 3px 6px 0px #4a4848;
  }
}

@keyframes animationMenu {
  0% {
    height: 0;
  }
  100% {
    height: 400px;
  }
}

.laCarte__plats > ul > li:hover > div:before {
  right: 5%;
  z-index: 1;
}

.laCarte__plats > ul > li:hover > div:after {
  width: 200px;
}

/************MEDIA QUERIES*****************/

@media only screen and (max-width: $QUERY_MOBILE_MAX) {
}

@media only screen and (min-width: $QUERY_TAB_MIN) and (max-width: $QUERY_TAB_MAX) {
  .fonctionnement {
    display: flex;
    justify-content: center;

    &__titre {
      position: absolute;
    }

    &__list {
      padding-top: 2em;
    }
  }

  .restaurant {
    text-align: -webkit-center;
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    position: relative;

    > h3 {
      padding-top: 0;
      margin: 0;
      position: absolute;
      top: 1em;
    }

    &__card {
      padding: 0em;
      margin-top: 2em;
      width: calc(50% - 5em);
    }

    &__img {
      height: 15em;
    }
  }

  .laCarte__plats {
    position: relative;
    padding-top: 3em;
    margin-top: 2em;

    > h2 {
      width: 115px;
      position: absolute !important;
      top: 1em;
    }

    > ul > li {
      width: 333px;
    }
  }
}

@media only screen and (min-width: $QUERY_DESKTOP_MIN) and (max-width: $QUERY_DESKTOP_MAX) {
  .fonctionnement {
    display: flex;
    justify-content: center;

    &__titre {
      position: absolute;
    }

    &__list {
      padding-top: 2em;
    }
  }

  .restaurant {
    text-align: -webkit-center;
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    position: relative;

    > h3 {
      padding-top: 0;
      margin: 0;
      position: absolute;
      top: 1em;
    }

    &__card {
      padding: 0em;
      margin-top: 2em;
      width: calc(50% - 5em);
    }

    &__img {
      height: 15em;
    }
  }

  .laCarte__plats {
    position: relative;
    padding-top: 3em;
    margin-top: 2em;

    > h2 {
      width: 115px;
      position: absolute !important;
      top: 1em;
    }

    > ul > li {
      width: 333px;
    }
  }
}

/************************************/
/***********************************/
